{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>

{% if user.is_authenticated %}
    <a href="{% url 'post-create' %}" class="btn btn-primary mb-3">Create New Post</a>
{% endif %}

{% if posts %}
    <ul class="list-group">
        {% for post in posts %}
            <li class="list-group-item mb-3">
                <h2>
                    <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                </h2>
                <p>{{ post.content|truncatewords:30 }}</p>
                <small>
                    Posted on {{ post.published_date|date:"M d, Y" }} by {{ post.author.username }}
                </small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts found.</p>
{% endif %}

{% endblock %}
